<div class=" flex flex-col">
    <div class="flex flex-row">
        <div class="w-full h-auto rounded-md border-slate-200 border border-solid bg-white m-2 question-container cursor-pointer">
            <div class="p-2">
                <p class="text-sm m-1 font-bold">
                    Testowe kategoria 1
                </p>
                <p class="text-xs m-1">
                    Testowe pytanie 1
                </p>
            </div>
        </div>
        <div class="w-full h-auto rounded-md border-slate-200 border border-solid bg-white m-2 question-container cursor-pointer">
            <div class="p-2">
                <p class="text-sm m-1 font-bold">
                    Testowe kategoria 1
                </p>
                <p class="text-xs m-1">
                    Testowe pytanie 1
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="w-full h-auto rounded-md border-slate-200 border border-solid bg-white m-2 question-container cursor-pointer">
            <div class="p-2">
                <p class="text-sm m-1 font-bold">
                    Testowe kategoria 1
                </p>
                <p class="text-xs m-1">
                    Testowe pytanie 1
                </p>
            </div>
        </div>
        <div class="w-full h-auto rounded-md border-slate-200 border border-solid bg-white m-2 question-container cursor-pointer">
            <div class="p-2">
                <p class="text-sm m-1 font-bold">
                    Testowe kategoria 1
                </p>
                <p class="text-xs m-1">
                    Testowe pytanie 1
                </p>
            </div>
        </div>
    </div>
</div>